
.bodyContacto{
    background-image: url(/asset/img/fondo.jpg);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto auto auto;
    grid-template-areas: "nav    nav    nav    nav"
                         "main   main   main   main"
                         "footer footer footer footer";

}
.bodyIndex{
    background-image: url(/asset/img/fondo.jpg);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto auto auto auto;
    grid-template-areas:  "nav    nav    nav    nav"
                          "header header header header"
                          "main   main   main   main"
                          "footer footer footer footer"; 
}
.bodyProducto{
    background-color: $colorPrincipal;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto auto auto ;
    grid-template-areas:  "nav    nav    nav    nav"
                          "main   main   main   main"
                          "footer footer footer footer"; 
}

.bodyCompra{
    background-color: $colorPrincipal;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto auto auto ;
    grid-template-areas:  "nav    nav    nav    nav"
                          "main   main   main   main"
                          "footer footer footer footer"; 
}
.bodyPreguntas{
    background-color: $colorPrincipal;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto auto auto;
    grid-template-areas: "nav    nav    nav    nav"
                         "main   main   main   main"
                         "footer footer footer footer";     
}