main{
    grid-area: main;
    .taladro{
        display: flex;
        flex-wrap: wrap;
        margin: 30px;
        width: 90%;
        > .imgTaladro{
            width: 400px;
            border: solid 2px;
            border-radius: 10px;
            margin: 30px;
        
            @media(max-width:600px){
                width:350px;
            }
            @media(max-width:460px){
                width:275px;
            }
        }
        .p1{
            margin: 20px;
             margin-bottom: 50px;
             font-size: 30px;
             width: 500px;
             font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
             color: white;
             @media(max-width:750px){
                width: auto;
             }
             @media(max-width:600px){
                font-size: 35px;
                text-align: start;
                margin-top: 20px;
             }
             @media(max-width:460px){
                font-size: 30px;
             }
            
        }
         input{
            border: solid 1px;
            height: 20px;
            padding: 5px;
          
            @media(max-width:600px){
                width: 250px;
                height: 25px;
            }
        }
        h3{
            margin-top: 20px;
            margin-bottom: 30px;
            font-size: 30px;
            color: $colorPrincipal;
            @media(max-width:600px){
                font-size: 40px;
            }
            @media(max-width:460px){
                font-size: 30px;
            }
        }
        button{
            @include boton(110px,30px,0,0);
            border-radius: 5px;
            background-color:$backgroundBoton;
            color: $colorPrincipal;
            &:hover{
                transform: scale(1.2,1.2);
            }
            @media(max-width:600px){
                width: 125px;
                height: 35px;
            }
        }
        > div >.p2{
            font-size: larger 15px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            margin-bottom: 100px;
            height: 200px;
            color: $colorPrincipal;
            @media(max-width:750px){
                font-size: 20px;
                margin-bottom: 100px;
            }
            @media(max-width:460px){
                font-size: 15px;
                margin-bottom: 100px;
            }
            
        }
    }
}
