.preguntasFrecuentes{
    grid-area: main;
    > h1{
        margin: 20px;
    }
    .preguntas{
        margin: 20px;
        padding: 5px;
        list-style: none;
        .entrega{
            display: flex;
            flex-direction: column;
        }
        h3{
            font-weight: 300;
            color: white;
        }
        }
    }



.preguntasFrecuentes ul p{
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: white;
}