
.index{
    display: grid;
    grid-area: main;
    width: 100%;
    height: auto;
    .ofertas{
        text-align: center;
        font-size: 40px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color:$colorsecundario;
        @media(max-width:550px){
           
            text-align: center;
            font-size: 25px;
            margin-left: 20px;
        }
    }
    .cards{
        display: flex;
        justify-content: space-around;
        width: 100%;
        .card{
            width: 500px;
            height: 600px;
            border-radius:10px;
            border: solid 2px;
            overflow: hidden;
            background-color: $backgroundcards ;
            padding: 20px;
            margin: 20px;
            margin-bottom: 40px;
            .producto1{
                width: 100%;
                height: 75%;
                border: solid 1px;
                margin-bottom: 40px;
                @media(max-width:759px){
                    height: 60%;
                }
                @media(max-width:550px){
                    height: 60%;
                    margin-bottom: 5px;
                }
                
            }
            .descripcion1{
                font-size: 30px;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                padding: 5px;
                margin-bottom: 5px;
                @media(max-width:550px){
                    font-size: 12px;
                }
            }
            a button{
                padding: 5px;
                border-radius: 10px;
                background-color: rgba(0, 0, 0, 0.171);
                margin: 10px;
                color: $colorPrincipal;
            }
            @media(max-width:759px){
                width: 350px;
                height: 400px;
                border-radius:10px;
                border: solid 2px;
                overflow: hidden;
                background-color:$backgroundcards ;
                padding: 20px;
                margin: 20px;
                margin-bottom: 40px;
            }
          
            @media(max-width:550px){
                width: 175px;
                height: 225px;
                border-radius:10px;
                border: solid 2px;
                overflow: hidden;
                background-color:$backgroundcards;
                padding: 10px;
                margin: 10px;
                margin-bottom: 40px;
            }
          
        }
        .card12{
            display: flex;
            flex-direction: column;
            align-items: end;
            margin-right: 200px;
            .card2{
                height: 275px; 
                width: 250px;
                border-radius:10px;
                border: solid 2px;
                overflow: hidden;
                background-color:$backgroundcards ;
                padding: 20px;
                margin: 10px;
                
                .producto2 {
                    width: 100%;
                    height: 65%;
                    border: solid 2px;
                    margin-bottom: 20px;
                    @media(max-width:1087px){
                        width: 100%;
                        height: 75%;
                        border: solid 1px;
                        margin-bottom: 40px
                    }
                    @media(max-width:759px){
                        height: 60%;
                    }
                    @media(max-width:550px){
                        height: 60%;
                        margin-bottom: 10px;
                    }
                }
                .descripcion{
                    font-size: small;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    padding: 5px;
                    margin-bottom: 5px;
                    @media(max-width:550px){
                        font-size: 12px;
                    }
                }
                .boton{
                    padding: 5px;
                    border-radius: 10px;
                    background-color: rgba(0, 0, 0, 0.171);
                    margin: 10px;
                    color: $colorPrincipal;
                    
                        
                }
                @media(max-width:1087px){
                    width: 500px;
                    height: 600px;
                    border-radius:10px;
                    border: solid 2px;
                    overflow: hidden;
                    background-color:$backgroundcards;
                    padding: 20px;
                    margin: 20px;
                    margin-bottom: 40px;
                }
                @media(max-width:759px){
                    width: 350px;
                    height: 400px;
                    border-radius:10px;
                    border: solid 2px;
                    overflow: hidden;
                    background-color:$backgroundcards ;
                    padding: 20px;
                    margin: 20px;
                    margin-bottom: 40px;
                }
                @media(max-width:550px){
                    width: 175px;
                    height: 225px;
                    border-radius:10px;
                    border: solid 2px;
                    overflow: hidden;
                    background-color:$backgroundcards ;
                    padding: 10px;
                    margin: 10px;
                    margin-bottom: 40px;
                }
                 
            }
            .card3{
                height: 275px; 
                width: 250px;
                border-radius:10px;
                border: solid 2px;
                overflow: hidden;
                background-color:$backgroundcards;
                padding: 20px;
                margin: 10px;
                .producto3{
                    width: 100%;
                    height: 65%;
                    border: solid 2px;
                    margin-bottom: 20px;
                    @media(max-width:1087px){
                        width: 100%;
                        height: 75%;
                        border: solid 1px;
                        margin-bottom: 40px
                    }
                    @media(max-width:759px){
                        height: 60%;
                    }
                    @media(max-width:550px){
                        height: 60%;
                        margin-bottom: 10px;
                    }
                    
                }
                .descripcion{
                    font-size: small;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    padding: 5px;
                    margin-bottom: 5px;
                    @media(max-width:1087px){
                        font-size: 30px;
                        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    }
                    @media(max-width:550px){
                        font-size: 12px;
                    }
                }
                .boton{
                    padding: 5px;
                    border-radius: 10px;
                    background-color: rgba(0, 0, 0, 0.171);
                    margin: 10px;
                    color: $colorPrincipal;
                        
                }
                @media(max-width:1087px){
                    width: 500px;
                    height: 600px;
                    border-radius:10px;
                    border: solid 2px;
                    overflow: hidden;
                    background-color:$backgroundcards ;
                    padding: 20px;
                    margin: 20px;
                    margin-bottom: 40px;
                }
                @media(max-width:759px){
                    width: 350px;
                    height: 400px;
                    border-radius:10px;
                    border: solid 2px;
                    overflow: hidden;
                    padding: 20px;
                    margin: 20px;
                    margin-bottom: 40px;
                }
                @media(max-width:550px){
                    width: 175px;
                    height: 225px;
                    border-radius:10px;
                    border: solid 2px;
                    overflow: hidden;
                    background-color:$backgroundcards ;
                    padding: 10px;
                    margin: 10px;
                    margin-bottom: 40px;
                }
            }
            @media(max-width:1087px){
                padding: 20px;
                margin: 20px;
                margin-bottom: 40px;
            }
            
            
        }
        @media(max-width:1087px){
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 60px;
        }
    }
    .vendido{
        font-size: 34px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        padding: 20px;
        margin: 40px;
        text-align: center;
        color: $colorsecundario;
        
    }
    .masVendido{
        display: flex;
        justify-content: space-around;
        margin-bottom: 150px;
        width:100%;
        .masVendido1{
            @extend %tarjetas;
            > img{
                width: 100%;
                height: 70%;
                border: solid 1px;
                @media(max-width:550px){
                    height: 50%;
                    margin-bottom: 10px;
                }
            }
            > p{
                margin-bottom: 20px;
                font-size: 15px;
                color: $colorPrincipal;
            }
            .boton{
                padding: 5px;
                border-radius: 10px;
                background-color: $backgroundBoton;
                margin: 10px;
                color: $colorPrincipal;
                    
            }
            @media(max-width:550px){
                width: 175px;
                height: 225px;
                border-radius: 10px;
                border: solid 2px;
                margin: 20px;
                padding: 10px;
                background-color:$backgroundcards;
            }
        }
        .masVendido2{
            @extend %tarjetas;
            > img{
                width: 100%;
                height: 70%;
                border: solid 1px;
                @media(max-width:550px){
                    height: 50%;
                    margin-bottom: 10px;
                }
            }
            > p{
                margin-bottom: 20px;
                font-size: 15px;
                color: $colorPrincipal;
            }
            .boton{
                padding: 5px;
                border-radius: 10px;
                background-color: $backgroundBoton;
                margin: 10px;
                color: $colorPrincipal;
                    
            }
            @media(max-width:550px){
                width: 175px;
                height: 225px;
                border-radius: 10px;
                border: solid 2px;
                margin: 20px;
                padding: 10px;
                background-color:$backgroundcards;
            }
        }
        .masVendido3{
            @extend %tarjetas;
            > img{
                width: 100%;
                height: 70%;
                border: solid 1px;
                @media(max-width:550px){
                    height: 50%;
                    margin-bottom: 10px;
                }
            }
            > p{
                margin-bottom: 20px;
                font-size: 15px;
                color: $colorPrincipal;
            }
            .boton{
                padding: 5px;
                border-radius: 10px;
                background-color: $backgroundBoton;
                margin: 10px;
                color: $colorPrincipal;
                    
            }
            @media(max-width:550px){
                width: 175px;
                height: 225px;
                border-radius: 10px;
                border: solid 2px;
                margin: 20px;
                padding: 10px;
                background-color:$backgroundcards;
            }
        }
        .masVendido4{
            @extend %tarjetas;
            > img{
                width: 100%;
                height: 70%;
                border: solid 1px;
                @media(max-width:550px){
                    height: 50%;
                    margin-bottom: 10px;
                }
            }
            > p{
                margin-bottom: 20px;
                font-size: 15px;
                color: $colorPrincipal;
            }
            .boton{
                padding: 5px;
                border-radius: 10px;
                background-color:$backgroundBoton;
                margin: 10px;
                color: $colorPrincipal
                    
            }
            @media(max-width:550px){
                width: 175px;
                height: 225px;
                border-radius: 10px;
                border: solid 2px;
                margin: 20px;
                padding: 10px;
                background-color: $backgroundcards;
            }
        }
        @media(max-width:1260px){
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top:10px;
        }
    }
}