.contacto{
    grid-area: main;
    .tituloContacto{
     display: flex;
     justify-content: center;
     font-size: 30px;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     margin: 20px;
     @media(max-width:1207px){
        margin-bottom: 30px;
     }
     @media(max-width:432px){
        font-size: 20px;
     }
        
     
     }
     .tarjetaContacto{
         display: flex;
         align-items: flex-start;
         flex-wrap: wrap;
         justify-content: center;
         .formularioContacto{
             margin: 20px;
             border: solid 2px;
             width: 200px;
             padding:30px;
             border-radius: 20px;
             background-color: $colorPrincipal;
             .nombre,.apellido,.email,.mensaje {
                 border: solid 1px;
                 margin: 10px;
                 padding: 5px;
             }
             .enviarContacto{
                 width:90px;
                 border-radius: 2px;
                 margin: 10px;
             }
             @media(max-width:1207px){
                margin-bottom: 30px;
             }
         }
         .contactos{
            display: flex;
            flex-direction: column;
             width: 300px;
             padding: 20px;
             margin: 30px;
             > div {
                display: flex;
                margin: 10px;
                padding: 5px;
             }
             .wsp, .fijo, .mail{
                 width: 30px;
                 height: 30px;   
                 margin-right: 10px;
                 p{
                    font-weight: 300;
                    color: white;
                 }
                
             }
             @media(max-width:432px){
                width: 250px;
             }
         
         }
         .encontranos{
             width: 300px;
             margin-bottom: 150px;
            > .direccion{
                margin-bottom: 10px;
            }
            >.mapa{
                 width: 100%;
                 @media(max-width:433px){
                    width: 90%;
                 }
            }
            
            @media(max-width:1000px){
                margin-bottom: 200px;
            }
         }
         @media(max-width:1000px){
            display: flex;
            flex-direction: column;
            align-items: center;
         }
         
     }
    
 }
 