/* contacto */
@import "reset";
@import "body";
@import "navegador";
@import "header";
@import "main";
@import "footer";














 
























/* inicio*/





.index{
    display: grid;
    grid-area: main;
    width: 100%;
    height: auto;
    .ofertas{
        text-align: center;
        font-size: 40px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .cards{
        display: flex;
        justify-content: space-around;
        width: 100%;
        .card{
            width: 500px;
            height: 600px;
            border-radius:10px;
            border: solid 2px;
            overflow: hidden;
            background-color: khaki ;
            padding: 20px;
            margin: 20px;
            margin-bottom: 40px;
            .producto1{
                width: 100%;
                height: 75%;
                border: solid 1px;
                margin-bottom: 40px;
            }
            .descripcion1{
                font-size: 30px;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                padding: 5px;
                margin-bottom: 5px;
            }
            a button{
                padding: 5px;
                border-radius: 10px;
                background-color: rgba(0, 0, 0, 0.171);
                margin: 10px;
            }
          
        }
        .card12{
            display: flex;
            flex-direction: column;
            align-items: end;
            margin-right: 200px;
            .card2{
                height: 275px; 
                width: 250px;
                border-radius:10px;
                border: solid 2px;
                overflow: hidden;
                background-color: khaki ;
                padding: 20px;
                margin: 10px;
                
                .producto2 {
                    width: 100%;
                    height: 65%;
                    border: solid 2px;
                    margin-bottom: 20px;
                    @media(max-width:1087px){
                        width: 100%;
                        height: 75%;
                        border: solid 1px;
                        margin-bottom: 40px
                    }
                }
                .descripcion{
                    font-size: small;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    padding: 5px;
                    margin-bottom: 5px;
                }
                .boton{
                    padding: 5px;
                    border-radius: 10px;
                    background-color: rgba(0, 0, 0, 0.171);
                    margin: 10px;
                        
                }
                @media(max-width:1087px){
                    width: 500px;
                    height: 600px;
                    border-radius:10px;
                    border: solid 2px;
                    overflow: hidden;
                    background-color: khaki ;
                    padding: 20px;
                    margin: 20px;
                    margin-bottom: 40px;
                }
                 
            }
            .card3{
                height: 275px; 
                width: 250px;
                border-radius:10px;
                border: solid 2px;
                overflow: hidden;
                background-color: khaki ;
                padding: 20px;
                margin: 10px;
                .producto3{
                    width: 100%;
                    height: 65%;
                    border: solid 2px;
                    margin-bottom: 20px;
                    @media(max-width:1087px){
                        width: 100%;
                        height: 75%;
                        border: solid 1px;
                        margin-bottom: 40px
                    }
                    
                }
                .descripcion{
                    font-size: small;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    padding: 5px;
                    margin-bottom: 5px;
                    @media(max-width:1087px){
                        font-size: 30px;
                        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    }
                }
                .boton{
                    padding: 5px;
                    border-radius: 10px;
                    background-color: rgba(0, 0, 0, 0.171);
                    margin: 10px;
                        
                }
                @media(max-width:1087px){
                    width: 500px;
                    height: 600px;
                    border-radius:10px;
                    border: solid 2px;
                    overflow: hidden;
                    background-color: khaki ;
                    padding: 20px;
                    margin: 20px;
                    margin-bottom: 40px;
                }
            }
            @media(max-width:1087px){
                padding: 20px;
                margin: 20px;
                margin-bottom: 40px;
            }
            
            
        }
        @media(max-width:1087px){
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 60px;
        }
    }
    .vendido{
        font-size: 34px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        padding: 20px;
        margin: 40px;
        text-align: center;
        
    }
    .masVendido{
        display: flex;
        justify-content: space-around;
        margin-bottom: 150px;
        width:100%;
        .masVendido1{
            width: 250px;
            height: 300px;
            border-radius: 10px;
            border: solid 2px;
            margin: 20px;
            padding: 10px;
            background-color: khaki;
            > img{
                width: 100%;
                height: 70%;
                border: solid 1px;
            }
            > p{
                margin-bottom: 20px;
                font-size: 15px;
            }
            .boton{
                padding: 5px;
                border-radius: 10px;
                background-color: rgba(0, 0, 0, 0.171);
                margin: 10px;
                    
            }
        }
        .masVendido2{
            width: 250px;
            height: 300px;
            border-radius: 10px;
            border: solid 2px;
            margin: 20px;
            padding: 10px;
            background-color: khaki;
            > img{
                width: 100%;
                height: 70%;
                border: solid 1px;
            }
            > p{
                margin-bottom: 20px;
                font-size: 15px;
            }
            .boton{
                padding: 5px;
                border-radius: 10px;
                background-color: rgba(0, 0, 0, 0.171);
                margin: 10px;
                    
            }
        }
        .masVendido3{
            width: 250px;
            height: 300px;
            border-radius: 10px;
            border: solid 2px;
            margin: 20px;
            padding: 10px;
            background-color: khaki;
            > img{
                width: 100%;
                height: 70%;
                border: solid 1px;
            }
            > p{
                margin-bottom: 20px;
                font-size: 15px;
            }
            .boton{
                padding: 5px;
                border-radius: 10px;
                background-color: rgba(0, 0, 0, 0.171);
                margin: 10px;
                    
            }
        }
        .masVendido4{
            width: 250px;
            height: 300px;
            border-radius: 10px;
            border: solid 2px;
            margin: 20px;
            padding: 10px;
            background-color: khaki;
            > img{
                width: 100%;
                height: 70%;
                border: solid 1px;
            }
            > p{
                margin-bottom: 20px;
                font-size: 15px;
            }
            .boton{
                padding: 5px;
                border-radius: 10px;
                background-color: rgba(0, 0, 0, 0.171);
                margin: 10px;
                    
            }
        }
        @media(max-width:1260px){
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top:10px;
        }
    }
}





@media(max-width:800px){
    .publicidad{
        font-size: 40px;
        display: flex;
        justify-content: center;
        margin-top: 30%;
    }
}
@media(max-width:759px){
    .publicidad{
        font-size: 30px;
    }
    
   
    .card{
        width: 350px;
        height: 400px;
        border-radius:10px;
        border: solid 2px;
        overflow: hidden;
        background-color: khaki ;
        padding: 20px;
        margin: 20px;
        margin-bottom: 40px;
    }
    .producto1{
        height: 60%;
    }
    .card2{
        width: 350px;
        height: 400px;
        border-radius:10px;
        border: solid 2px;
        overflow: hidden;
        background-color: khaki ;
        padding: 20px;
        margin: 20px;
        margin-bottom: 40px;
        
    }
    .producto2{
        height: 60%;
        
    }
    .card3{
        width: 350px;
        height: 400px;
        border-radius:10px;
        border: solid 2px;
        overflow: hidden;
        background-color: khaki ;
        padding: 20px;
        margin: 20px;
        margin-bottom: 40px; 
    }
    .producto3{
        height: 60%;
    }
    .pie > .seguinos{
        font-size: 18px;
    }
   
    .pie{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
        margin-bottom: 0%;
    }
    .pie > div{
        display: flex;
        justify-content: center;
    }
}
    .pie > .preg{
        margin-left: 0px;
    }

@media(max-width:550px){
   
    .navbar > .navegador > .fa-bars{
        display: block;
        font-size: 40px;
    }
    .navegador{
        position: relative;
        z-index: 100;
        display: flex;
        justify-content: space-around;
    }
    .navegador > ul{
        position: fixed;
        z-index: 100;
        flex-direction: column;
        width: 250px;
        height: 100vh;
        background-color:darkslategrey ;
    }
    .publicidad{
        font-size: 25px;
    }
    .ofertas{
        display: flex;
        justify-content: center;
    }
    .publicidad{
        font-size: 20px;
        margin-top: 250px;
        

    }
    .ofertas{
        display: flex;
        text-align: center;
        font-size: 25px;
        margin-left: 20px;
    }
    .cards{
        display: flex;
        align-content: center;
        gap: 20px;

    }
    .card3{
        width: 175px;
        height: 225px;
        border-radius:10px;
        border: solid 2px;
        overflow: hidden;
        background-color: khaki ;
        padding: 10px;
        margin: 10px;
        margin-bottom: 40px; 
    }
    .producto3{
        height: 60%;
        margin-bottom: 10px;
    }
    .card2{
        width: 175px;
        height: 225px;
        border-radius:10px;
        border: solid 2px;
        overflow: hidden;
        background-color: khaki ;
        padding: 10px;
        margin: 10px;
        margin-bottom: 40px; 
    }
    .producto2{
        height: 60%;
        margin-bottom: 5px;
    }
    .card{
        width: 175px;
        height: 225px;
        border-radius:10px;
        border: solid 2px;
        overflow: hidden;
        background-color: khaki ;
        padding: 10px;
        margin: 10px;
         
       
    }
    .producto1{
        height: 60%;
        margin-bottom: 5px;
    }
    .descripcion{
        font-size: 12px;
        
    }  
    .descripcion1{
        font-size: 12px;
        
    }
    .masVendido1 , .masVendido2 , .masVendido3 , .masVendido4{
        width: 175px;
        height: 225px;
        border-radius: 10px;
        border: solid 2px;
        margin: 20px;
        padding: 10px;
        background-color: khaki;
    }
    .masVendido > div > img{
        height: 50%;
        margin-bottom: 10px;
    }
}
@media(max-width:368px){
    .publicidad{
        font-size: 18px;
    }
}




/*compra*/

.datosComprador{
    display:flex;
    width:100%;
    justify-content: start;
}


.formularioCompra{
    width: 100%;
    height: auto;
    background-color: rgba(92, 71, 2, 0.425);
    border: solid 2px;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    margin-left: 125px;
    display: flex;
    flex-direction: column;
}
.formularioCompra input{
    border: solid 1px;
    margin: 10px;
    border:solid 2px;
    padding: 5px;
}
.formularioCompra input:hover{
    transform: scale(1.1,1.1);
}
.imagenCompra{
    margin: 0 50px 0 250px;
    width: 80%;
}
.imagenCompra img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: solid 2px;
    margin-top: 35px;
    
}
.imagenCompra p{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.imagenCompra > img:hover{
    transform: scale(1.1,1.1);
    
}
.pagoYenvio{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    height: auto;
}

.pagos{
    width: 50%;
    height: auto;
    margin-left: 125px;
    background-color: rgba(92, 71, 2, 0.425);
    border-radius: 10px;
    border: solid 2px;
    padding: 10px;
    display:flex;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.mediosPagos > .pagos >input{
    margin: 10px;
    border: solid 2px;
    width: 85%;
    padding: 5px;
}
.mediosPagos > .pagos > label >input{
    margin: 10px;
    border: solid 2px;
    
}
.pagos > input:hover{
    transform: scale(1.1,1.1);
}

.envios{
    display: flex;
    flex-direction: column;
    width:50%;
    height: auto;
    background-color: rgba(92, 71, 2, 0.425);
    border-radius: 10px; 
    border: solid 2px;
    padding: 10px;
    margin: 10px 20px 50px 125px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.envios > label > input{
    margin: 10px;
}

.comprar{
    border: solid 2px;
    border-radius: 10px;
    width: 110px;
    height: 30px;
    margin: 0px 20px 40px 125px;
}
.comprar:hover{
    transform: scale(1.1,1.1);
}
@media(max-width:970px){


    .navegador > .fa-bars {
        display: block;
        font-size: 40px;
    }
    .navegador > ul > li {
        margin: 20px 0px;
    }
    .navegador > ul > li:nth-child(1){
        margin-top: 100px;
    }
    .navegador > .fa-bars:hover + ul{
        left: 0;
    }
    .navegador > ul:hover{
        left: 0;
    }
}
@media(max-width:882px){
    .datosComprador{
        display: flex;
        flex-direction: column-reverse;
        width:50%;
    }
    .imagenCompra{
        margin-left: 125px;
        
    }
    .pagos{
        width:50%;
    }
    .envios{
        width:50%;
    }
}
@media(max-width:882px){
    .formularioCompra, .pagos, .envios, .comprar{
        margin-left: 80px;
    }
    .imagenCompra{
        margin-left: 80px;
    }
}




 



/* producto */

.bodyCompra{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto auto auto ;
    grid-template-areas:  "nav    nav    nav    nav"
                          "main   main   main   main"
                          "footer footer footer footer"; 
}

main{
    grid-area: main;
}
.taladro{
    display: flex;
    flex-direction: column;
    margin: 30px;
    width: 90%;
}

.taladro > .imgTaladro{
    width: 500px;
    border: solid 2px;
    border-radius: 10px;
    margin: 30px;
}
.taladro .imgTaladro:hover{
    transform: scale(1.1,1.1);
    border-radius: 10px;
}
.taladro .p1{
   margin: 20px;
    margin-bottom: 50px;
    font-size: 30px;
    width: 500px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}
.taladro input{
    border: solid 1px;
    height: 20px;
    padding: 5px;
}
.taladro input:hover{
    transform: scale(1.1,1.1);
    margin-left: 20px;
}
.taladro h3{
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 30px;
}
.taladro button{
    width: 110px;
    height: 30px;
    border-radius: 5px;
    background-color: rgba(202, 159, 18, 0.685);
}
.taladro button:hover{
    transform: scale(1.2,1.2);
}
.taladro > div >.p2{
    font-size: larger 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 100px;
    height: 200px;
   
    
}

@media(max-width:750px){
    .taladro > .p1 {
        width: auto;
    }
    .taladro > div > .p2{
        font-size: 20px;
        margin-bottom: 100px;
    }

}
@media(max-width:600px){
    .taladro > .imgTaladro{
        width:350px;
    }
    .taladro .p1{
        font-size: 35px;
        text-align: start;
        margin-top: 20px;
    }
    .taladro > input{
        width: 250px;
        height: 25px;
    }
    .taladro > div > h3{
        font-size: 40px;
    }
    .taladro button{
        width: 125px;
        height: 35px;
        
    }
 
}
@media(max-width:460px){
    .taladro > .imgTaladro{
        width:275px;
    }
    .taladro .p1{
        font-size: 30px;
      
    }
    .taladro > div > h3 {
        font-size: 30px;
    }
    .taladro > div > .p2{
        font-size: 15px;
        margin-bottom: 100px;
    }
}



/* preguntas frecuentes*/


nav{
    grid-area: nav;
}
.preguntasFrecuentes{
    grid-area: main;
}
.preguntasFrecuentes > h1{
    margin: 20px;
}
.preguntas{
    margin: 20px;
    padding: 5px;
    list-style: none;
}
.preguntasFrecuentes ul p{
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}