
@import "reset";
@import "variables";
@import "body";
@import "navegador";
@import "header";
@import "mainContacto";
@import "mainIndex";
@import "mainCompras";
@import "formularioCompra";
@import "pagosYenvios";
@import "mainProducto";
@import "footer";














 


























































 




 



















/* preguntas frecuentes*/


nav{
    grid-area: nav;
}
.preguntasFrecuentes{
    grid-area: main;
}
.preguntasFrecuentes > h1{
    margin: 20px;
}
.preguntas{
    margin: 20px;
    padding: 5px;
    list-style: none;
}
.preguntasFrecuentes ul p{
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}